* {
  /* border: 1px solid red; */
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

html {
  color: #38b6ff;
  background-color: #333;
  font-family: 'Trebuchet MS', sans-serif;
  background: url("/img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  text-align: center;
}

h1, h2, p {
  background-color: #333;
  display: inline-block;
  padding: 10px;
  border-radius: 10%;
}

a:link, a:visited {
  background-color: #38b6ff;
  color: #333;
  padding: 5px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
}

a:hover, a:active {
  background-color: hotpink;
}