* {
  /* border: 1px solid red; */
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  /* background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png'); */
  background: url("/img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* font-family: Roboto, sans-serif; */
  font-family: 'Trebuchet MS', sans-serif;
  color: #ffffff;
  position: relative;
}

nav.bg-dark {
  --bs-bg-opacity: 1
}

.bg-dark {
  --bs-bg-opacity: .6
}

.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  height: 100rem;
}

h2 {
  text-align: center;
  padding: 5rem;
}

/* Profile Image */
section .row img {
  margin: 0 0 30px;
  width: 100%;
}

/* School Images */
.portrait {
  width:  350px;
  height: 300px;
}

/* Language Images */
#experience img {
  height: 10rem;
  width: 10rem;
}

/* Footer */
footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}