* {
  /* border: 1px solid red; */
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  background: url("/img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* font-family: Roboto, sans-serif; */
  font-family: 'Trebuchet MS', sans-serif;
  color: #ffffff;
  position: relative;
}

nav.bg-dark {
  --bs-bg-opacity: 1
}

.bg-dark {
  --bs-bg-opacity: .6
}

.jumbotron {
  display: flex;
  background-size: cover;
  height: 95vh;
}

.jumbotron #heading {
  padding-top: 25vh;
}

#profile {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

/* Profile Image */
#profile img {
  width: 75%;
  border-radius: 50%;
}

h2 {
  text-align: center;
  padding: 5rem;
}

/* School Images */
.portrait {
  width: 100%;
  height: 300px;
}

/* Language Images */
#experience img {
  height: 10rem;
  width: 10rem;
}

/* Footer */
footer {
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer a {
  color: #ffffff;
}