body {
  /* font-family: Roboto, sans-serif; */
  font-family: 'Trebuchet MS', sans-serif;
  background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
  
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("/img/background.jpg");
  background-size: cover;
  color: #ffffff;
  height: 400px;
}

h1 {
  font-weight: 700;
  margin: 0;
}

/* Profile Image */
section .row img {
  margin: 0 0 30px;
  width: 100%;
}

/* School Images */
.portrait {
  width:  350px;
  height: 300px;
}

/* Language Images */
#experience img {
  height: 10rem;
  width: 10rem;
}

/* Footer */
footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}
